body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #222;
  color: #fff;
}

header {
  background-color: #111;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

h1 {
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #333; /* Darken container background */
  color: #fff; /* Change text color to light */
  border-radius: 5px;
}

.input-section {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"] {
  width: calc(100% - 70px);
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #777; /* Update input border color */
  background-color: #444; /* Darken input background */
  color: #fff; /* Change text color to light */
}

button {
  padding: 8px 15px;
  border: none;
  background-color: #777;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #999;
}

#problems-list {
  padding: 10px;
  border: 1px solid #777;
  border-radius: 3px;
  min-height: 100px;
  background-color: #333;
  color: #fff;
}
